* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3E64D3;
}

.wrapper {
    width: 430px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0);
}

h1 {
    margin-top: 1rem;
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.2rem;
    font-weight: bold;
}

form input {
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}

button {
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    background: #3E64D3;
}

button:hover {
    background: rgba(17, 107, 143, 0.877);
}

input:focus {
    border: 1px solid rgb(192, 192, 192);
}

/* .member {
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}

.member a {
    color: rgb(17, 107, 143);
    text-decoration: none;
} */
