.row {
    margin-top: 7px;
}

.card .card-header .btn {
    float: right;
}

.label {
    color: black;
    font-weight: 500;
}

.container-fluid .card {
    border: none;
    background-color: #F8F9FC;
}

.card .card-header {
    border: none;
    background-color: #F8F9FC;
}

thead {
    background-color: #3B62D1;
}

tr {
    color: black;
}